<h1>제목</h1>
{{ blog_detail.title }}

<h3>날짜</h3>
{{ blog_detail.date }}

<h4>본문</h4>
{{ blog_detail.body }}

<br/><br/>

{% if blog_detail.photo %}
    <!-- 사진 찍어주기 코드를 적으면 될 것이다.-->
    {{ blog_detail.photo.url }} <!-- path는 실제로 내 컴퓨터상에 저장된 위치를 보여준다.-->
    <img src = "{{ blog_detail.photo.url }}" alt = "" height = "600">
{% endif %}
<hr>
<h4>댓글</h4>
<form method="POST" action="{% url 'create_comment' blog_detail.id %}">
    {% csrf_token %}
    {{ comment_form }}
    <input type = "submit">
</form>

<!-- 댓글 목록들 -->
<hr>
{% for comment in blog_detail.comment_set.all %}
<p>{{ comment }}</p>
<hr>
{% endfor %}